torch>=2.0.0
torchvision>=0.15.0
numpy>=1.21.0
argparse>=1.4.0
datetime>=4.3
pathlib>=1.0.1
Pillow>=8.0.0 #10.0.0      # For ImageFolder
tensorboard>=2.0.0
#termcolor==2.4.0          # for color in terminal text
#opencv-python>=4.10.0     # for image processing
#matplotlib>=3.5.0         # for data visualization
